name: Python application

on:
  push:
    branches: [ "main" ] # Runs on both branches
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_PASSWORD: mysecretpassword
          POSTGRES_DB: postgres
        ports:
          - 5431:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest psycopg2-binary flask-sqlalchemy
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Run app check
      env:
        SQLALCHEMY_DATABASE_URI: postgresql://postgres:mysecretpassword@localhost:5431/postgres
      run: |
        # This just checks if the app can start without crashing
        python app.py & 
        sleep 10
        kill %1
